.gal-carr {
    margin: 3%;
}

/* Tabla */
.table{
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 5px 10px rgb(125, 40, 40);
    background: rgba(194, 39, 39, 0.877);
}

.table th {
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.table p {
    width: 70%;
    padding-top: 55px;
    margin: auto;
}

.table input {
    margin-top: 55px;
    width: 50px;
    font-size: 20px;
}

.table button {
    margin-top: 40px;
    font-size: 30px;
}

.table button:hover {
    color: rgb(217, 45, 45);
}

.table img {
    height: 150px;
}

/* Contenedor de cupones */
.cupon {
    width: 250px;
    background: white;
    border-radius: 30px;
    padding: 5px;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgb(125, 40, 40);
}

.cupon h3 {
    text-align: center;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgba(196, 10, 10, 0.877);
}

.cupon input {
    margin-bottom: 5px;
    border-radius: 10px;
    border-color: black;
}

.cupon button {
    color: white;
    border-radius: 10px;
    border-color: black;
    background: rgba(196, 10, 10, 0.877);
}


/* Contenedor de resumen */
.resumen {
    position: relative;
    justify-content: center;
    width: 250px;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 0 5px 10px rgb(125, 40, 40);
}

.resumen h3 {
    text-align: center;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgba(196, 10, 10, 0.877);
}

.resumen .precio p {
    width: 50%;
    margin-left: auto;
    text-align: center;
    border-radius: 10px;
    color: white;
    background: rgba(196, 10, 10, 0.877);
}

.resumen button {
    color: white;
    width: 150px;
    border-radius: 10px;
    border-color: black;
    background: rgba(196, 10, 10, 0.877);
}

.resumen .linea {
    position: absolute;
    height: 2px;
    width: 85%;
    top: 58.5%;
    background-color: rgb(156, 35, 35);
}

.resumen .linea2 {
    position: absolute;
    height: 2px;
    width: 85%;
    top: 65.7%;
    background-color: rgb(156, 35, 35);
}

/* Modal */
.modalidad {
    border-color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
}

.tarjeta {
    width: 450px;
    height: 280px;
    border-radius: 40px;
    padding: 10px;
    margin: auto;
    position: relative;
    box-shadow: 0 5px 10px rgb(125, 40, 40);
    background: rgb(255, 255, 255);
}

.tarjeta h2 {
    width:430px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    background: rgba(196, 10, 10, 0.877);
}

.tarjeta p {
    width: 100%;
    height: 13%;
    font-weight: 500;
    text-align: end;
    margin-top: 10px;
}

.tarjeta input {
    width: 80%;
    height: 15%;
    margin: 6px;
}

.tarjeta .fecha {
    width: 30%;
    margin-right: 30px;
}

.tarjeta .div-f {
    right: 120px;
    bottom: 95px;
    font-size: 30px;
    position: absolute;
}

.tarjeta button {
    top: 13px;
    left: 15px;
    font-size: 20px;
    position: absolute;
    color: white;
    border-color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    position: absolute;
}

.tarjeta button:hover {
    color: black;
}