body {
    background: rgb(230, 145, 88); 
}
/* nav */
.navbar img {
    height: 55px;
}

.navbar a:hover {
    color: white;
}

.navbar i {
    margin-right: 20px;
    font-size: 30px;
    color: rgb(138, 138, 138)
}

.navbar i:hover {
    color: white;
}

/* Pie de Pagina */
.pie-pagina {
    padding: 35px;
    text-align: center;
    color: white;
    background: rgb(29, 29, 29);
}

.pie-pagina .col {
    display: grid;
}

.pie-pagina .btn-per {
    color: rgb(151, 150, 150);
    background: rgb(29, 29, 29);
}

.pie-pagina .btn-per:hover {
    color: rgb(255, 255, 255);
}

.pie-pagina .icon {
    font-size: 50px;
    color: rgb(151, 150, 150);
}

.pie-pagina .icon:hover {
    color: white;
}