/* Diseño del filtro */
.buscador{
    width: 95%;
    color: white;
}

.buscador button {
    background-color: rgba(165, 42, 42, 0.5);
    border-color: rgba(165, 42, 42, 0.5);
    color: white;
}

/* Diseño de la galeria de imagenes */
.gal-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.carton {
    position: relative;
    width: 300px;
    height: 300px;
}

.carton .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.carton .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.carton .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carton .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.carton .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(108, 16, 16);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px rgb(247, 187, 187);
}

.carton .back .link {
    border-top: solid 1px white;
    height: 50px;
    line-height: 50px;
}

.carton .back .link a {
    color: white;
}

.carton .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.carton .back p {
    letter-spacing: 1px;
}

.carton:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.carton:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* Diseño de las calificaciones */
.rating {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
    border: 3px solid rgb(247, 165, 165);
    gap: 4px;
    border-radius: 30px;
    background: rgb(246, 244, 244);
    box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.5),
    inset 15px 15px 3px rgba(255,255,255,0.1),
    -4px -4px 15px rgba(255,255,255,0.1),
    inset -2px -2px 12px rgba(0, 0, 0, 0.75);
}

.rating:nth-child(1) {
    transform: translateX(-80px);
}

.rating:nth-child(3) {
    transform: translateX(80px);
}

.rating input {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.rating input::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 34px;
    color: black;
    transition: .5s;
}

.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before {
    color: var(--c);
} 