/* Login */
.logeo {
    width: 400px;
    padding: 2%;
    margin: 5% auto;
    border-radius: 30px;
    text-align: center;
    display: grid;
    justify-content: center;
    box-shadow: 0 5px 10px rgb(125, 40, 40);
    background: white;
}

.logeo h3 {
    margin-top: 10px;
    font-weight: 700;
}

.logeo input {
    width: 250px;
    margin: 10px;
    border-color: rgba(0, 0, 0, 0.432);
}

.logeo .ing {
    width: 200px;
    margin: 5px auto;
    color: white;
    background: rgb(218, 40, 40);
}

.logeo .ing:hover {
    color: rgb(255, 255, 255);
    background: rgba(240, 73, 109, 0.925);
}

.logeo .linea {
    height: 2px;
    margin-top: 10px;
    background: rgba(179, 22, 22, 0.808);
}

.logeo .extra {
    height: 30px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(218, 40, 40);
    background: rgba(255, 255, 255, 0);
}

/* modal */
.modalidad {
    border-color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
}

.salir {
    top: 6px;
    left: 10px;
    font-size: 20px;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
}


.salir:hover {
    color: rgb(218, 40, 40);
}

/* restablecer */
.resert {
    width: 410px;
    padding: 2%;
    margin: 5% auto;
    border-radius: 30px;
    display: grid;
    text-align: center;
    justify-content: center;
    position: relative;
    background: white;
}

.resert h3 {
    margin-top: 10px;
    font-weight: 700;
}

.resert input {
    width: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.432);
}

.resert .ing {
    width: 200px;
    margin: 5px auto;
    color: white;
    background: rgb(218, 40, 40);
}

.resert .ing:hover {
    color: rgb(255, 255, 255);
    background: rgba(240, 73, 109, 0.925);
}

/* Registro */
.regis {
    width: 410px;
    padding: 2%;
    margin: 5% auto;
    border-radius: 30px;
    display: grid;
    text-align: center;
    justify-content: center;
    position: relative;
    background: white;
}

.regis h3 {
    margin-top: 10px;
    font-weight: 700;
}

.regis .cont-inp {
    width: 300px;
}

.regis .cont-inp input {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border-color: rgba(0, 0, 0, 0.432);
}

.regis .ing {
    width: 200px;
    margin: 20px auto;
    color: white;
    background: rgb(218, 40, 40);
}

.regis .ing:hover {
    color: rgb(255, 255, 255);
    background: rgba(240, 73, 109, 0.925);
}